header {
    background-color: rgb(3, 1, 1);
    
    .watch-later-style {
        color: red;
    }

    .header-inner {
        padding: 36px;

        .header-menu-nav {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: space-between;

            .header-menu-nav-item {
                .header-menu-nav-item-link {
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    cursor: pointer;
                    position: relative;
                    color: #FFFFFF;

                    .busket-svg {
                        width: 40px;
                        height: 40px;
                    }

                    .input-seacrh {
                        position: relative;
                        width: 100%;
                        max-width: 500px;
                        height: 40px;
                        border-radius: 30px;
                        border: none;
                        padding: 10px;
                        font-family: "Poppins", sans-serif;
                        font-size: 16px;
                        font-weight: 400px;
                    }

                    .log-in-sign-up-button {
                        border: none;
                        background-color: inherit;
                        color: #FFFFFF;
                        font-family: "Poppins", sans-serif;
                        font-size: 16px;
                        font-weight: 400px;
                        cursor: pointer;
                    }

                    &:hover::after {
                        content: "";
                        background-color: red;
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        right: 50%;
                    }

                }

            }

        }

    }
}

.toggle-menu-seacrh {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
    border: solid red 4px;
    height: 400px;
    width: 400px;
    overflow-y: auto;
    position: absolute;
    z-index: 2;
    color: black;
    background-color: darkblue;

    &::-webkit-scrollbar {
        width: 10px; 
        height: 100px; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        border-radius: 50px; 
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
        background-color: rgb(255, 255, 255);
    }
















    .toggle-menu-seacrh-items {
        display: flex;
        gap: 20px;

        .poster-img-search {
            width: 100px;
        }

        .poster-img-search-title {
            font-size: 15px;
            color: red;
        }

        .poster-img-search-title-desc {
            margin-top: 10px;
            font-size: 10px;
        }

        .poster-img-search-title-desc-rank {
            font-size: 10px;
        }
    }

}

@media (max-width:930px) {
    header {
        .header-inner {
            .header-menu-nav {
                .header-menu-nav-item {
                    .header-menu-nav-item-link {
                        font-size: 10px;

                        .input-seacrh {
                            height: 20px;
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:780px) {
    header {
        .header-inner {
            .header-menu-nav {
                flex-direction: column;
            }
        }
    }
}