.genres-section{
    padding: 20px 20px 20px 20px;
    background-color: red;
    .genres-section-inner{
        .genres-section-inner-title{
            .genres-section-inner-title-text{
                text-align: center;
                font-size: 30px;
                font-family: "Poppins", sans-serif;
                font-weight: 900;
                color: aliceblue;
            }
        }
        .genres-section-inner-items{
            display: flex;
            gap: 3px;
            flex-direction: column;
            row-gap: 10px;
            .show-genres-btn{
                padding: 5px 5px 5px 5px;
                font-size: 20px;
                font-family: "Poppins", sans-serif;
                background-color: black;
                color: white;
                font-weight: 600;
            }
            .genres-item{
                padding: 5px 5px 5px 5px;
                font-size: 20px;
                font-family: "Poppins", sans-serif;
                background-color: black;
                color: white;
                font-weight: 600;
            }
        }
    }
}


.block {
	position: relative;
	margin: 50px auto 0;
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727);
    cursor: pointer;
    div{
        color: #00ff00;
        font-size: 30px;
          font-family: "Poppins", sans-serif;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}