.footer-wrapper {
    background-color: #ffffff;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
   
}